<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{primer}"></title>
        <link th:replace="plantilla/layout :: imports"/>
    </head>
    <body>     
        <!-- Header -->
        <div th:replace="plantilla/layout :: header">            
        </div>
        <br>
        <div class="container d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="p-5">                
                    <div class="card text-center">
                        <div class="card-header" th:text="#{c_32}">
                            
                        </div>
                        <div class="card-body">  
                            <div class="text-center my-5">
                                <img src="../images/check.png" width=200px height=175px/>
                            </div>
                            <p class="card-text" th:text="#{c_33}"></p>
                            <hr>
                            <div  class="text-center my-5">
                            <div class="btn-group" role="group" aria-label="Basic example">
                               <a th:href="@{/carro/misCarros}" class="btn btn-default" th:text="#{cuatro}"></a>
                               <a th:href="@{/carro/misCotizaciones}"class="btn btn-primary" th:text="#{c_27}"></a>
                            </div>      
                                </div>
                        </div>                        
                    </div>
                </div>
            </div>     
        </div>  
        <!-- Footer -->
        <div th:replace="plantilla/layout :: footer">            
        </div>
    </body>    
</html>
