<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <div th:fragment="CREATE_CARRO_MODAL (carro,modelo,trim,marca,estado,sucursal)">
        <div class="modal fade" th:id="createcarroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Vehiculo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form th:action="@{/carroCrear}" class="my-2" method="POST">
                                <P  style="text-align: left;">Marca</P>
                                <select class="form-control" name="marca_id">
                                    <th:block th:each="marca : ${marca}">
                                        <option th:value="${marca.marca_id}"  
                                                th:text="${marca.marca_id}"></option>
                                    </th:block>
                                </select>
                                <br/>
                                <P  style="text-align: left;">Modelo</P>
                                <select class="form-control" name="modelo_id" >
                                    <th:block th:each="modelo : ${modelo}">
                                        <option th:value="${modelo.modelo_id}"  
                                                th:text="${modelo.modelo}"></option>
                                    </th:block>
                                </select>
                                <P  style="text-align: left;">Trim</P>
                                <select class="form-control" name="trim_id" >
                                    <th:block th:each="trim : ${trim}">
                                        <option th:value="${trim.trim_id}"  
                                                th:text="${trim.codigo}"></option>
                                    </th:block>
                                </select>
                                <P  style="text-align: left;">Sucursal</P>
                                <select class="form-control" name="sucursal_id" >
                                    <th:block th:each="sucursal : ${sucursal}">
                                        <option th:value="${sucursal.sucursal_id}"  
                                                th:text="${sucursal.nombre}"></option>
                                    </th:block>
                                </select>
                                <P  style="text-align: left;">Estado</P>
                                <select class="form-control" name="estado_id" >
                                    <th:block th:each="estado : ${estado}">
                                        <option th:value="${estado.estado_id}"  
                                                th:text="${estado.estado}"></option>
                                    </th:block>
                                </select>
                                <br/>
                                <P  style="text-align: left;">Kilometraje</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="kilometraje"
                                    placeholder="kilometraje"
                                    />
                                <br/>
                                <P  style="text-align: left;">Precio</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="precio"
                                    placeholder="precio"
                                    />
                                <br/>
                                <P  style="text-align: left;">Color Externo</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="color_exterior"
                                    placeholder="Nuermo de color interno"
                                    />
                                <br/>
                                <P  style="text-align: left;">Color Interno</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="color_interior"
                                    placeholder="numero de color externo"
                                    />
                                <br/>
                                <P  style="text-align: left;">Placa</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="placa"
                                    placeholder="numero de placa"
                                    />
                                <br/>
                                <P  style="text-align: left;">Vin</P>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    name="vin"
                                    placeholder="numero de vin"
                                    />
                                <br/>
                                <br/>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</html>