<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <div th:fragment="EDIT_CARRO_MODAL (carro)">
        <div class="modal fade" th:id="'updateModal-'+${carro.getCarro_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Vehiculo</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form th:action="@{/carro/update}" class="my-2" method="POST">
                                <input
                                    type="hidden"
                                    name="Carro_id"
                                    id="Carro_id"
                                    th:value="${carro.getCarro_id}"
                                    >
                                <br/>
                                <P  style="text-align: left;">Marca</P>
                                <select class="form-control" name="marca">
                                    <th:block th:each="marca : ${marcas}">
                                        <option th:value="${marca.getMarca_id}"  
                                                th:text="${marca.getMarca}"></option>
                                    </th:block>
                                </select>
                                <br/>
                                <P  style="text-align: left;">Modelo</P>
                                <select class="form-control" name="modelo" >
                                    <option th:text="${carro.getModelo_id}"></option>
                                </select>
                                <br/>
                                <P  style="text-align: left;">Kilometraje</P>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="kilometraje"
                                    placeholder="kilometraje"
                                    th:value="${carro.getKilometraje}"
                                    >
                                <br/>
                                <P  style="text-align: left;">Precio</P>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="precio"
                                    placeholder="precio"
                                    th:value="${carro.getPrecio}"
                                    >
                                <br/>
                                <P  style="text-align: left;">Estado</P>
                                <select class="form-control" name="estado" >
                                   <option th:text="${carro.getEstado_id}" ></option>
                                </select>
                                <br/>
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                            </form>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</html>