<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <div th:fragment="EDIT_USUAURIOS_MODAL (usuario)">
        <div class="modal fade" th:id="'updateModal-'+${usuario.getUsuario_id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar Usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form action="/usuario/update" class="my-2" method="POST">
                                <input
                                    type="hidden"
                                    name="id"
                                    th:value="${usuario.getUsuario_id}"
                                    >
                                <br/>
                                <input
                                    type="text"
                                    placeholder="username"
                                    class="form-control"
                                    name="username"
                                    th:value="${usuario.getUsername}"
                                    >
                                <br/>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    name="password"
                                    placeholder="Contraseña"
                                    >
                                <br/>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="rol"
                                    placeholder="Rol"
                                    th:value="${usuario.getUsername}"
                                    >
                                <br/>
                                <input
                                    type="text" 
                                    class="form-control" 
                                    name="active"
                                    placeholder="estado"
                                    th:value="${usuario.getUsername}"
                                    >
                               <br/>
                                <button type="submit" class="btn btn-primary">Actulizar</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>