<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Manage Carro</title>
        <link th:replace="plantilla/layout :: imports"/>
    </head>
    <body>     
        <!-- Header -->
        <div th:replace="plantilla/layout :: header">            
        </div>
        <br>
        <div class="container">
            <div class="card">                            
                <div class="card-header"></div>
                <div class="card-body">
                    <!--------------- Esto es un formulario --------------->
                    <div class="p-4">
                        <a class="btn btn-success" th:href="@{/carro/create}" >Registrar vehículo</a>
                        <br>
                        <br>
                        <table class="table table-striped" id="carsTable">
                            <thead class="thead-green">
                                <tr>   
                                    <th scope="col" class='text-center'> Carro ID </th>
                                    <th scope="col" class='text-center'> Marca  </th>
                                    <th scope="col" class='text-center'> Modelo  </th>
                                    <th scope="col" class='text-center'> Kilometraje  </th>
                                    <th scope="col" class='text-center'> Precio  </th>
                                    <th scope="col" class='text-center'> Estado  </th>
                                    <th scope="col" class='text-center'> Detalles  </th>
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="carro:${carros}">  
                                <tr>
                                    <td class="text-center align-middle" th:text="${carro.getCarro_id}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getMarca_id}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getModelo_id}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getKilometraje}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getPrecio}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getEstado_id}"></td>
                                    <td class="text-center align-middle">
                                        <div class="btn-group" role="group">
                                        <a class="btn btn-secondary" th:href="@{/carro/delete/{id}(id=${carro.getCarro_id})}">Eliminar</a> 
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#updateModal-'+${carro.getCarro_id}">Actualizar</button>
                                        
                                        </div>
                                    </td>                                                                     
                                </tr>
                            </th:block>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="plantilla/layout :: footer">            
        </div>
    </body> 
</html>