<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MAnage Marca</title>
        <link th:replace="plantilla/layout :: imports"/>
    </head>
    <body>     
        <!-- Header -->
        <div th:replace="plantilla/layout :: header">            
        </div>
        <br>
        <div class="container">
            <div class="card">                            
                <div class="card-header"></div>
                <div class="card-body">
                    <!--------------- Esto es un formulario --------------->
                    <div class="p-4">
                        <table class="table table-striped" id="carsTable">
                            <thead class="thead-green">
                                <tr>   
                                    <th scope="col" class='text-center'> Nombre Marca  </th>                                                              
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="marca:${marcas}">  
                                <tr>
                                    <td class="text-center align-middle" th:text="${marca.getMarca}"></td>
                                    <td class="text-center align-middle">
                                        <a class="btn btn-secondary" th:href="@{/marca/delete/{id}(id=${marca.getMarca_id})}">Eliminar</a> 
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#updateModal-'+${marca.getMarca_id}">Actualizar</button>
                                        
                                    </td>                                                                     
                                </tr>
                            </th:block>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="plantilla/layout :: footer">            
        </div>
    </body> 
</html>