<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="#{titulo_marca}"></title>
        <link th:replace="plantilla/layout :: imports"/>
    </head>
    <body>     
        <!-- Header -->
        <div th:replace="plantilla/layout :: header">            
        </div>
        <br>
        <div class="container">
            <div class="card">                            
                <div class="card-header" th:text="#{c_21}"></div>
                <div class="card-body">
                    <!--------------- Esto es un formulario --------------->
                    <div class="p-4">
                        <table class="table table-striped" id="carsTable">
                            <thead class="thead-green">
                                <tr>   
                                    <th scope="col" class='text-center'>Id </th>
                                    <th scope="col" class='text-center'> </th>
                                    <th scope="col" class='text-center' th:text="#{titulo_marca}"> </th>
                                    <th scope="col" class='text-center' th:text="#{c_4}"> </th>
                                    <th scope="col" class='text-center' th:text="#{c_5}"> </th>                                    
                                    <th scope="col" class='text-center' th:text="#{c_9}"> </th>                                                                         
                                    <th scope="col" class="text-center" th:text="#{c_22}"> </th>                                    
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="carro:${carros}">  
                                <tr>
                                    <td class="text-center align-middle" th:text="${carro.getId}"></td>  
                                    <td class="text-center align-middle">
                                        <img th:src="@{/Images/} + ${carro.getRuta_Imagen}" alt="alt" style="width: 300px; height: 175px"/>
                                    </td>  
                                    <td class="text-center align-middle" th:text="${carro.getMarca.getNombre}"></td>
                                    <td class="text-center align-middle" th:text="${carro.getModelo}"></td>  
                                    <td class="text-center align-middle" th:text="${carro.getTransmision}"></td>                                     
                                    <td class="text-center align-middle" th:text="@{₡} + ${carro.getPrecio}"></td>                                     
                                    <td class="text-center align-middle">
                                        <div class="row">
                                            <div class="col-4">
                                                <a th:href="@{/carro/details/}+${carro.getId}" class="btn btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info" viewBox="0 0 16 16">
                                                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                    </svg>
                                                </a>
                                            </div>                                                                                        
                                        </div>                                                                                
                                    </td>                                  
                                </tr>
                            </th:block>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div th:replace="plantilla/layout :: footer">            
        </div>
    </body>    
</html>