<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Home</title>
        <link th:replace="plantilla/layout :: imports"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body> 
        <!-- Header -->
        <div th:replace="plantilla/layout :: header">            
        </div>        
        <!-- Body -->   
        <div class="container d-flex align-items-center justify-content-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="../images/Mi proyecto 4.jpg" class="d-block w-100" alt="...">    
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Mi proyecto 3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Mi proyecto 2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Mi proyecto 1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Mi proyecto.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="../images/toyotahilux.jpg">
                                <img src="../images/toyotahilux.jpg" alt="Hilux" style="width:80%">
                                    <div class="caption">
                                        <p>El vehiculo del dia, el mas visto, el mas deseado....</p>
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="../images/toyotacorolla.jpg">
                                <img src="../images/toyotacorolla.jpg" alt="Corolla" style="width:80%">
                                    <div class="caption">
                                        <p>El vehiculo del año, el mas visto, el mas deseado....</p>
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="../images/Cherokee.jpg">
                                <img src="../images/Cherokee.jpg" alt="Cherokee" style="width:80%">
                                    <div class="caption">
                                        <p>El vehiculo favorito, el mas nuevo....</p>
                                    </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>          
        <footer class="text-center text-white bottom" style="background-color:#0F1A59;font-family: 'Monda', sans-serif" th:fragment="footer">
            <div class="container p-1">
                <section class="mb-1">
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0F1A59;"
                        href="https://www.facebook.com/"
                        role="button"
                        ><img src="/images/facebook.png" class ='image' alt="facebook" width="20" height="20"/></a>

                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0F1A59;"
                        href="https://twitter.com/"
                        role="button"
                        ><img src="/images/twitter.png" class ='image' alt="facebook" width="20" height="20"/>
                    </a>

                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0F1A59;"
                        href="https://www.instagram.com/"
                        role="button"
                        ><img src="/images/instagram.png" class ='image' alt="facebook" width="20" height="20"/>
                    </a>

                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0F1A59;"
                        href="https://github.com/osacr6/Proyecto_Oracle.git"
                        role="button"
                        ><img src="/images/github.png" class ='image' alt="facebook" width="20" height="20"/></a>

                </section>
            </div>
            <div  style="background-color: rgba(0, 0, 0, 0.2);">
                <div class="container">
                    <section class="row">
                        <p class="col-4"></p>
                        <p th:text="#{footer1}" class="col-4"></p>  
                        <p sec:authorize="hasRole('ROLE_USER')" th:text="#{footer3}" class="col-4"></p>
                        <p sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{footer2}" class="col-4"></p>
                    </section>

                </div>

            </div>
            <script>
                $(document).ready(function () {
                    if ($('#carsTable')) {
                        $('#carsTable').DataTable({
                            dom: 'Bfrtip',
                            'iDisplayLength': 10,
                            "language": {
                                "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                            },
                        });
                    }

                });
            </script>
        </footer>          
        </div> 

    </body>    
</html>
